#Adicionando as bibliotecas necessárias...

In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.model_selection import train_test_split

#Importando os dados e verificando as colunas

In [2]:
dataset = pd.read_csv('./autism_screening.csv')
dataset.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,United States,no,6.0,18 and more,Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5.0,18 and more,Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8.0,18 and more,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,United States,no,6.0,18 and more,Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2.0,18 and more,?,NO

#Análise dos dados

In [3]:
dataset.describe()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,result
count,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,702.000000,704.000000
mean,0.721591,0.453125,0.457386,0.495739,0.498580,0.284091,0.417614,0.649148,0.323864,0.573864,29.698006,4.875000
std,0.448535,0.498152,0.498535,0.500337,0.500353,0.451301,0.493516,0.477576,0.468281,0.494866,16.507465,2.501493
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,3.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,27.000000,4.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,35.000000,7.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,383.000000,10.000000

#Removendo algumas colunas irrelevantes e renomeando outras para melhorar a legibilidade

In [4]:
dataset = dataset.drop(columns =['contry_of_res', 'used_app_before', 'age_desc', 'relation'])
dataset = dataset.rename(columns={'austim': 'autism_history', 'Class/ASD': 'autism'})
dataset.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,autism_history,result,autism
0,1,1,1,1,0,0,1,1,0,0,26.0,f,White-European,no,no,6.0,NO
1,1,1,0,1,0,0,0,1,0,1,24.0,m,Latino,no,yes,5.0,NO
2,1,1,0,1,1,0,1,1,1,1,27.0,m,Latino,yes,yes,8.0,YES
3,1,1,0,1,0,0,1,1,0,1,35.0,f,White-European,no,yes,6.0,NO
4,1,0,0,0,0,0,0,1,0,0,40.0,f,?,no,no,2.0,NO

#Analisando os valores únicos de cada coluna

In [5]:
for col in dataset.columns:
    print(f"{col}: {dataset[col].unique()}")

A1_Score: [1 0]
A2_Score: [1 0]
A3_Score: [1 0]
A4_Score: [1 0]
A5_Score: [0 1]
A6_Score: [0 1]
A7_Score: [1 0]
A8_Score: [1 0]
A9_Score: [0 1]
A10_Score: [0 1]
age: [ 26.  24.  27.  35.  40.  36.  17.  64.  29.  33.  18.  31.  30.  34.
  38.  42.  43.  48.  37.  55.  50.  53.  20.  28.  21. 383.  47.  32.
  44.  nan  19.  58.  45.  22.  39.  25.  23.  54.  60.  41.  46.  56.
  61.  59.  52.  49.  51.]
gender: ['f' 'm']
ethnicity: ['White-European' 'Latino' '?' 'Others' 'Black' 'Asian' 'Middle Eastern '
 'Pasifika' 'South Asian' 'Hispanic' 'Turkish' 'others']
jundice: ['no' 'yes']
autism_history: ['no' 'yes']
result: [ 6.  5.  8.  2.  9. 10.  4.  3.  0.  1.  7.]
autism: ['NO' 'YES']

#Juntando colunas de valores similares e removendo colunas com nan

In [6]:
dataset = dataset.replace('?', np.nan)
dataset = dataset.replace(383., np.nan)
dataset = dataset.replace('others', 'Others')
dataset = dataset.replace('Middle Eastern ', 'Middle Eastern')
dataset = dataset.dropna()

for col in dataset.columns:
    print(f"{col}: {dataset[col].unique()}")

A1_Score: [1 0]
A2_Score: [1 0]
A3_Score: [1 0]
A4_Score: [1 0]
A5_Score: [0 1]
A6_Score: [0 1]
A7_Score: [1 0]
A8_Score: [1 0]
A9_Score: [0 1]
A10_Score: [0 1]
age: [26. 24. 27. 35. 36. 17. 64. 29. 33. 18. 31. 30. 42. 40. 48. 37. 55. 50.
 34. 53. 20. 28. 21. 47. 43. 32. 44. 19. 58. 22. 39. 25. 23. 38. 54. 60.
 41. 46. 45. 56. 61. 59. 52. 49. 51.]
gender: ['f' 'm']
ethnicity: ['White-European' 'Latino' 'Others' 'Black' 'Asian' 'Middle Eastern'
 'Pasifika' 'South Asian' 'Hispanic' 'Turkish']
jundice: ['no' 'yes']
autism_history: ['no' 'yes']
result: [ 6.  5.  8.  9.  2. 10.  3.  0.  1.  4.  7.]
autism: ['NO' 'YES']

#Fazendo hot encoding nas colunas de dados categóricos e label encoding na coluna de saída

In [7]:
dataset = pd.get_dummies(dataset, columns=['autism_history', 'gender', 'jundice', 'ethnicity'])
dataset['autism'], mapping = pd.factorize(dataset['autism'])
dataset.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,ethnicity_Asian,ethnicity_Black,ethnicity_Hispanic,ethnicity_Latino,ethnicity_Middle Eastern,ethnicity_Others,ethnicity_Pasifika,ethnicity_South Asian,ethnicity_Turkish,ethnicity_White-European
0,1,1,1,1,0,0,1,1,0,0,...,False,False,False,False,False,False,False,False,False,True
1,1,1,0,1,0,0,0,1,0,1,...,False,False,False,True,False,False,False,False,False,False
2,1,1,0,1,1,0,1,1,1,1,...,False,False,False,True,False,False,False,False,False,False
3,1,1,0,1,0,0,1,1,0,1,...,False,False,False,False,False,False,False,False,False,True
5,1,1,1,1,1,0,1,1,1,1,...,False,False,False,False,False,True,False,False,False,False

#Dividindo os dados em conjuntos de treinamento e de testes

In [8]:
X = dataset.drop(columns=['autism'])
X.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,ethnicity_Asian,ethnicity_Black,ethnicity_Hispanic,ethnicity_Latino,ethnicity_Middle Eastern,ethnicity_Others,ethnicity_Pasifika,ethnicity_South Asian,ethnicity_Turkish,ethnicity_White-European
0,1,1,1,1,0,0,1,1,0,0,...,False,False,False,False,False,False,False,False,False,True
1,1,1,0,1,0,0,0,1,0,1,...,False,False,False,True,False,False,False,False,False,False
2,1,1,0,1,1,0,1,1,1,1,...,False,False,False,True,False,False,False,False,False,False
3,1,1,0,1,0,0,1,1,0,1,...,False,False,False,False,False,False,False,False,False,True
5,1,1,1,1,1,0,1,1,1,1,...,False,False,False,False,False,True,False,False,False,False

In [9]:
y = dataset['autism']
y.head()

0    0
1    0
2    1
3    0
5    1
Name: autism, dtype: int64

In [10]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)